* {
    box-sizing: border-box;
}
body {
  margin: 0;
}
/* Style the header */
.header {
    padding: 35px 0 0 0;
    text-align: center;
}
/* 배경화면 */
.background{
    height: 100vh;
    background-image: url("img/smartTV.svg"), url("img/background.jpg") ;
    background-repeat : no-repeat;
    background-size : 350px, cover ;
    background-position: 780px 420px, 0 0;
}
/* 로고 이미지 */
#logoImg{
    width: 335px;
}
/* 인트로버튼 */
#intro_btn{
    position: absolute;
    width: 130px;
    margin-top: 410px;
    margin-left: 890px;
    z-index: 2;
}

/* 상단 네비게이션 */
.topnav {
    overflow: hidden;

}
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 0px 0px 35px;
    text-decoration: none;
}
.topnav ul{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.topnav li{
    float: left;
    list-style: none;
}

/* Change color on hover */
.topnav a:hover {
    color: yellow;
}

#main-subImg{
    margin: auto;
    display: block;
}

/* Create three unequal columns that floats next to each other */
/* .column {
    float: left;
    padding: 10px;
} */
/* Left and right column */
/* .column.side {
    width: 25%;
} */
/* Middle column */
/* .column.middle {
    width: 50%;
} */
/* Clear floats after the columns */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
/* Style the footer */
.footer {
    background-color: black;
    text-align: center;
}